.teams-and-solution-container {
    width: 100%;
    background-color: #f8f6f5;
    /* min-height: 200vh; */
    /* position: relative; */
}

.teams-and-solution-container .content-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    margin: 0 auto;
}

.teams-and-solution-title {
    font-size: 100px;
    font-family: 'motion-serif', serif;
    font-weight: 300;
}

.our-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.team-image {
    width: 40%;
    height: 500px;
    background-image: url('../../assets/teams.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -10;
}

.team-content {
    width: 50%;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.team-content .content {
    margin: 20px 0px;
}

.team-subtitle {
    font-size: 18px;
    opacity: 0.5;
}
.team-title {
    font-size: 40px;
}

.members-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}