.background-container {
    width: 110%;
    background-color: #141414;
    height: 100vh;
    /* position: relative; */
    color: #fff;
}

.background-container .content-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    margin: 0 auto;
}

.background-title {
    font-size: 100px;
    font-family: 'motion-serif', serif;
    font-weight: 300;
}

.background-content {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    width: 70%;
    margin-top: 40px;
    margin-left: 30%;
    font-weight: 100 !important;
    font-style: normal;
}

.hovered-content-container {
    background-color: #202020;
    height: 2500px;
    color: #fff;
    padding-top: 50px;
}
