.solution-container {
    width: 100%;
    background-color: #ffffff;
    height: 120vh;
    /* position: relative; */
    color: rgb(0, 0, 0);
}

.solution-container .content-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    margin: 0 auto;
}

.solution-title {
    font-size: 100px;
    font-family: 'motion-serif', serif;
    font-weight: 300;
}


.solution-content {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    width: 85%;
    margin-top: 40px;
    margin-left: 15%;
    font-weight: 100 !important;
    font-style: normal;
}
.hover-elements-container .features {
    width: 50%;
    margin: 0px 10%;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    /* font-weight: 100; */
    padding: 80px 0px;
}

.features .feature {
    margin: 0px 0px 40px 0px;
    padding-left: 20px;
}

.hover-elements-container {
    background-color: #f1f1f1;
    height: 2500px;
}

.hover-elements-container {
    color: rgb(0, 0, 0);
}

.expand-child {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 40px 0px;
}

.ulm-img {
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}

.img-1 {
    background-image: url('https://moadlsgen2.blob.core.windows.net/brainlabs/architecture.JPG');
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.img-2 {
    background-image: url('https://moadlsgen2.blob.core.windows.net/autowiz/tech%20stack.JPG');
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}