.home {
    width: 100%;
    height: 100vh;
    position: relative;
}

.center-container {
    position: absolute;
    width: 50%;
    height: 50vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.gif-container {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/a.gif');
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    filter: grayscale();
}

.animate-text {
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}

.active {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: 'motion-serif', serif;
    text-align: center;
    /* animation: slide 0.3s ease-in-out; */
}

.inactive {
    display: none;
}

@keyframes slide {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

.navbar {
    position: absolute;
    width: 100%;
    width: 98%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: right;
    font-family: 'motion-serif',serif;
    font-size: 30px;
    font-weight: bold;
}