@font-face {
  font-family: 'motion-serif';
  src: local('motion-serif'),
       url('./assets/fonts/serif-motion.woff2') format('woff'),
       url('./assets/fonts/serif-motion.woff2') format('woff2');
}

*::-webkit-scrollbar {
  display: none;
}